<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/nasa-logo-web-rgb.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Deborah Kurata</h3>
      </div>

      <div class="text-center">Edited/Modified by:</div>
      <div class="text-center">
        <h3>Andrew DeMarco</h3>
      </div>

      <!-- normally wouldn't use inline css here, but making a whole css file just for this one change on the
      home page didn't seem necessary to me. -->
      <div class="text-center" style="margin-top: 4rem;">
        <h3>Deborah Kurata's Links:</h3>
      </div>

      <div class="text-center">@deborahkurata</div>
      <div class="text-center">
        <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
      </div>
    </div>
  </div>
</div>